* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
  font-family: Montserrat, san-serif;
}

body {
  margin: 0;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

nav {
  width: 100%;
  min-width: 1000px;
  height: 110px;
  max-height: 110px;
  padding-top: 18px;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
}

#logo {
  height: 70px;
  width: 120px;
  /*background-image: url("../)*/
  position: absolute;
  left: 60px;
  margin-top: 10px;
}

#logo img {
  height: 50px;
  width: 120px;
}

#links {
  float: left;
  height: 70px;
  margin-left: 80px;
  font: .6em;
  position: absolute;
}

.link {
  height: 70px;
  text-align: center;
  padding: 28px 5px 0px 5px;
  float: left;
  margin-left: 15px;
}

.link a {
  text-decoration: none;
  color: #000;
}

.link a:hover {
  color: #e20000;
}

.log_in {
  height: 33px;
  width: 75px;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  position: absolute;
  right: 90px;
  font-size: .9em

}
/*Nav above*/


/*Body Below*/

.wrapper {
  height: 660px;
  width: 100%;
  min-width: 1500px;
  position: relative;
  background-image: url("../assets/blur.jpg");
  background-size: cover;
}

.box_wrappers {
  margin: auto;
  height: 320px;
  width: 1060px;
}

.hero_box {
  height: 320px;
  width: 475px;
  float: left;
  margin-top: 170px;
}

#left_hero_box {
  background-color: #fff;
}

.top_box, .small_box {
  padding-left: 28px;
  padding-right: 28px;
}

.top_box {
  height: 170px;
  width: 50%;
  float: left;
  padding-top: 58px;
}

#left_top_box {
  width: 65%;
}

#right_top_box {
  width: 35%;
}

.top_box_txt {
  display: block;
  font-size: 2.8em;
}

#toggl {
  font-size: 1.5em;
}

.small_box {
  clear: both;
  height: 50px;
  padding-top: 15px;
  border-top: 1px solid #e0e0e0;
  color: #a0a0a0;
}

.small_box_txt_left {
  float: left;
}

.small_box_txt_right {
  float: right;
}

.small_box a:hover {
  text-decoration: none;
}

#right_hero_box {
  float: right;
}

#right_hero_box .top_box {
  padding-left: 0;
  color: #fff;
  width: 525px;
}

.stop_btn {
  height: 62px;
  width: 125px;
  border-radius: 3px;
  float: right;
  background-color: #f2f2f2;
  font-size: 1.3em;
}

#box_right {
  width: 100%;
}

.right_box_btn {
  height: 62px;
  width: 165px;
  margin-right: 2%;
  border-radius: 3px;
}

#time {
  color: #e41c24;
}

#tour {
  color: #6bd017;
  background-color: #36302b
}

#insane {
  font-size: 2em;
}

#kill {
  font-size: 2.5em;
  font-weight: bold;
}

#sign_up {
  background: #82d800; /* Old browsers */
background: -moz-linear-gradient(-45deg, #82d800 0%, #55aa1d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#82d800), color-stop(100%,#55aa1d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #82d800 0%,#55aa1d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #82d800 0%,#55aa1d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #82d800 0%,#55aa1d 100%); /* IE10+ */
background: linear-gradient(135deg, #82d800 0%,#55aa1d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82d800', endColorstr='#55aa1d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-shadow: 0 1px 1px rgba(0,0,0,.5);
  font-weight: bold;
  color: #fff;
}

.right_box_btn {
  font-size: 1.2em;
}


